body{
    margin: 0%;
}
.div1
{
    background-color:pink;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;

    animation-name: move_div;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes move_div{
    0%{
        top:0%;
        left:0%;
    }
    25%{
        top:0px;
        left:400px;
        background-color: yellow;

    }
    50%{
        left:400px;
        top: 400px;
    }
    75%{
        left:0px;
        top:400px;
        background-color: palevioletred;

    }
    100%{
        left:0px;
        top:0px;

    }
}